// stylelint-disable scss/dollar-variable-pattern

@use "sass:color";



$color-dark: #1A2238;
$color-primary-on-dark: #5A6099;
$color-primary-on-light: darken($color-primary-on-dark, 30%);
$color-secondary-on-dark: #FFD230;
$color-secondary-on-light: darken($color-secondary-on-dark, 30%);


$yellow-primary: #5A6099;
$yellow-on-primary: white;
$yellow-secondary: #FFD230;
$yellow-on-secondary: $color-dark;

$green-primary: #5A6099;
$green-on-primary: white;
$green-secondary: #CCE3DF;
$green-on-secondary: $color-dark;

$blue-primary: #B3CDE3;
$blue-on-primary: $color-dark;
$blue-secondary: #FFE77F;
$blue-on-secondary: $color-dark;


@use "@material/theme" as theme with ( 
    $primary: $color-primary-on-dark, 
    $secondary: $color-secondary-on-dark,
    $background: white, 
    $surface: white,
    $on-surface: $color-dark,
);

@use "Main";
@use "@material/top-app-bar";
@use "@material/elevation/mixins" as elevation-mixins;

.mdc-top-app-bar {
    @include top-app-bar.fill-color(#1565c0);
    @include top-app-bar.ink-color(white);
    @include elevation-mixins.elevation(4);
}

:root {
    background-color: white;
    color: $color-dark;
    --mb-toast-color-info: white !important;
    --mb-toast-color-success: white !important;
    --mb-toast-color-warning: white !important;
    --mb-toast-color-error: white !important;
    --mb-toast-background-color-info: var(--mb-color-blue-700) !important;
    --mb-toast-background-color-success: var(--mb-color-green-700) !important;
    --mb-toast-background-color-warning: var(--mb-color-amber-700) !important;
    --mb-toast-background-color-error: var(--mb-color-red-700) !important;
    --mdc-theme-surface: white;
    --mdc-theme-on-surface: #{$color-dark};
    --dw-obscured-color: var(--mb-color-grey-600);
    --dw-color-primary-on-dark: #{$color-primary-on-dark};
    --dw-color-on-primary-on-dark: #{$color-dark};
    --dw-color-secondary-on-dark: #{$color-secondary-on-dark};
    --dw-color-on-secondary-on-dark: white;
    --dw-color-primary-on-light: #{$color-primary-on-light};
    --dw-color-on-primary-on-light: white;
    --dw-color-secondary-on-light: #{$color-secondary-on-light};
    --dw-color-on-secondary-on-light: white;
}

.dw-yellow {
    --mdc-theme-primary: #{$yellow-primary};
    --mdc-theme-secondary: #{$yellow-secondary};
    --mdc-theme-on-primary: #{$yellow-on-primary};
    --mdc-theme-on-secondary: #{$yellow-on-secondary};

    header > div:not(.dw-boundary-image), footer > div:not(.dw-boundary-image), .dw-accent-panel, &.dw-cookie-alert {
        --mdc-theme-surface: #{$yellow-secondary};
        --mdc-theme-background: #{$yellow-secondary};
        background-color: $yellow-secondary;
        --dw-obscured-color: var(--mdc-color-grey-300);
    }

    .mdc-fab {
        --mdc-theme-secondary: #{$yellow-primary};
        --mdc-theme-on-secondary: #{$yellow-on-primary};
    }
}

.dw-yellow .dw-boundary-image > svg > g {
    fill: $yellow-secondary;
}

.dw-green {
    --mdc-theme-primary: #{$green-primary};
    --mdc-theme-secondary: #{$green-secondary};
    --mdc-theme-on-primary: #{$green-on-primary};
    --mdc-theme-on-secondary: #{$green-on-secondary};

    header > div:not(.dw-boundary-image), footer > div:not(.dw-boundary-image), .dw-accent-panel, &.dw-cookie-alert {
        --mdc-theme-surface: #{$green-secondary};
        --mdc-theme-background: #{$green-secondary};
        background-color: $green-secondary;
        --dw-obscured-color: var(--mdc-color-grey-300);
    }

    .mdc-fab {
        --mdc-theme-secondary: #{$green-primary};
        --mdc-theme-on-secondary: #{$green-on-primary};
    }
}

.dw-green .dw-boundary-image > svg > g {
    fill: $green-secondary;
}

.dw-blue {
    --mdc-theme-primary: #{$blue-primary};
    --mdc-theme-secondary: #{$blue-secondary};
    --mdc-theme-on-primary: #{$blue-on-primary};
    --mdc-theme-on-secondary: #{$blue-on-secondary};

    header > div:not(.dw-boundary-image), footer > div:not(.dw-boundary-image), .dw-accent-panel, &.dw-cookie-alert {
        --mdc-theme-surface: #{$blue-secondary};
        --mdc-theme-background: #{$blue-secondary};
        background-color: $blue-secondary;
        --dw-obscured-color: var(--mdc-color-grey-300);
    }

    .mdc-fab {
        --mdc-theme-secondary: #{$blue-primary};
        --mdc-theme-on-secondary: #{$blue-on-primary};
    }
}

.dw-blue .dw-boundary-image > svg > g {
    fill: $blue-secondary;
}



.dw-dark {
    --mdc-theme-surface: #{$color-dark};
    --mdc-theme-on-surface: white;
    --mdc-theme-background: #{$color-dark};
    --mdc-theme-primary: #{$color-secondary-on-dark};
    --mdc-theme-on-primary: white;
    --mdc-theme-secondary: #{$color-primary-on-dark};
    --mdc-theme-on-secondary: #{$color-dark};
    background-color: $color-dark;
    color: white;
    --dw-obscured-color: var(--mdc-color-grey-300);
}