@namespace BlazorGPT.Lib

@inherits LayoutComponentBase


<CascadingValue Value="@this" IsFixed="true">
    <div id="dw-main-top" class="mdc-drawer-app-content dw-main-content dw-yellow">
        <div class="dw-content">
            <header>
                <div>
                    <div class="dw-max-width-content">
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid__inner dw-header">
                                <div class="mdc-layout-grid__cell--span-12 dw-header-large dw-hidden-phone-down">
                                    <span style="min-width: 120px; margin-right: 36px;"><DioptraLogo Height="120" /></span>
                                    <h1 class="dw-title" style="font-weight: 700;">DIOPTRA</h1>
                                </div>

                                <div class="mdc-layout-grid__cell--span-12 dw-header-small dw-hidden-tablet-up">
                                    <span style="min-width: 80px; margin-bottom: 6px;"><DioptraLogo Height="80" /></span>
                                    <h1 class="dw-title" style="font-weight: 700;">DIOPTRA</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <main>
                @Body
            </main>
        </div>

        <footer class="dw-footer">
            <div>
                <div class="dw-max-width-content">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone dw-footer-element dw-footer-logo">
                                <span style="min-width: 80px; margin-right: 36px;"><DioptraLogo Height="80" /></span>
                            </div>

                            <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone dw-footer-element dw-footer-address">
                                <div class="mdc-typography--body2">
                                    <p>© @DateTime.Today.ToString("yyyy") Dioptra Limited</p>
                                    <p>4 The Courtyard</p>
                                    <p>Holmstead Farm</p>
                                    <p>Staplefield Road</p>
                                    <p>Cuckfield</p>
                                    <p>West Sussex RH17 5JF</p>
                                    <p><em>Company Number: 13537855</em></p>
                                    <p><em>VAT Number: 407546495</em></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</CascadingValue>

