@page "/"

@namespace BlazorGPT.Lib

@inherits ComponentBase


<div class="dw-section-condensed">
    <div class="dw-max-width-content">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12 dw-tagline">

                    <div class="dw-picture-left">
                        <p class="mdc-typography--headline4">Forward looking investment analytics for institutional real estate investors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
